<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id ="engine" class ="com.example.SpringIntro.Engine"/> <bean 
		id = "car" class = "com.example.SpringIntro.Car"> <constructor-arg ref = 
		"engine"/> </bean> -->

	 <bean id="intel" class="autowire.IntelProcessor" /> <bean id="laptop" 
		class="autowire.Laptop"> <constructor-arg ref="intel" /> </bean> 
<!--	<bean id = "processor" class = "autowire.AMDProcessor"/>
	
	<bean id = "laptop" class = "autowire.Laptop" autowire = "byName"/>	
	-->




</beans>
