<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id = "vehicle" class = "com.example.XMLAutowiring.Vehicle"/>
        
       <!--  <bean id = "person" class = "com.example.XMLAutowiring.Person" autowire = "byName"/>  -->
       <!--  <bean id = "person" class = "com.example.XMLAutowiring.Person" autowire = "byType"/>  -->   
    	   <bean id = "person" class = "com.example.XMLAutowiring.Person" autowire = "constructor"/>
			<!-- For constructor to work we need person to have the parameterized constructor -->
	
</beans>
